{% extends "base.twig" %}

{% block content %}

	{% if posts %}
		<ol>
			{% for post in posts %}
				<li>
					<h4>{{ post.title }}</h4>
					<div>
						{{ post.get_preview() }}
					</div>
				</li>
			{% endfor %}
		</ol>
	{% endif %}

{% endblock %}